<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">GRUPO 25</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Equipo de trabajo 9</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/jnaveros40">Juan</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/Myke216">Myke</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/AndresTs2">Andres</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/lamd0806">Andrea</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/aleja2707">Alejandra</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 MISION TIC - UNIVERSIDAD DE CALDAS
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
